/* CHAT HEADER */

.chatHeader {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* CHAT HEADER USER INFO */

.chatHeader__userInfo {
  flex: 1;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* CHAT HEADER CHAT OPTIONS */

.chatHeader__options {
  display: flex;
}

/* CHAT HEADER ICONS */

.chatHeader .MuiSvgIcon-root {
  color: #0099ff;
  font-size: 28px;
}

/* RESPONSIVE */

@media only screen and (max-width: 380px) {
  .chatHeader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
